.container {
  width: 100vw;
  height: 90vh;
  position: relative;
}
.mapContainer {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
