.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 2;
  align-items: center;

  background-image: linear-gradient(
    225deg,
    rgba(226, 226, 226, 0.473),
    rgba(92, 92, 92, 0.377)
  );
}
