.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 2;
  align-items: center;

  background-image: linear-gradient(
    180deg,
    rgba(226, 226, 226, 0.363),
    rgba(122, 122, 122, 0.377)
  );
}

.container--loaded {
  justify-content: space-around;
}
