.container {
  width: 80%;
}
.container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nameInput-container {
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.nameInput-container input {
  margin-left: 1em;
}

.submit-container {
  width: 90%;
  border: 2px solid green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
